<section class="bgwhite p-t-66 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-b-30">
      </div>
      <div class="col-md-4 p-b-30">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { class: 'leave-comment' }) do |f| %>

        <div class="bo4 of-hidden size15 m-b-20">
          <%= f.email_field :email,
          autocomplete: "email",
          placeholder: "email *",
          class: "sizefull s-text7 p-l-22 p-r-22" %>
        </div>

        <div class="bo4 of-hidden size15 m-b-20">
          <%= f.text_field :name,
          placeholder: "姓名 *",
          class: "sizefull s-text7 p-l-22 p-r-22" %>
        </div>

        <div class="bo4 of-hidden size15 m-b-20">
          <%= f.password_field :password,
          placeholder: "密碼 * ",
          class: "sizefull s-text7 p-l-22 p-r-22" %>
        </div>

        <div class="bo4 of-hidden size15 m-b-20">
          <%= f.password_field :password_confirmation,
          placeholder: "密碼確認 *",
          class: "sizefull s-text7 p-l-22 p-r-22" %>
        </div>

        <div class="bo4 of-hidden size15 m-b-20 rs2-select2">
          <%= f.collection_select(:city_id, City.all, :id, :name, {include_blank: '請選擇縣市' },{
          placeholder: "縣市",
          class: "selection-2 select2-hidden-accessible"}) %>
        </div>

        <div class="bo4 of-hidden size15 m-b-20 rs2-select2">
          <%= f.collection_select(:area_id, @area_options, :id, :name, {include_blank: '請先選擇縣市' },{
          placeholder: "鄉鎮區",
          class: "selection-2 select2-hidden-accessible"}) %>
        </div>

        <div class="bo4 of-hidden size15 m-b-20">
          <%= f.text_field :address,
          placeholder: "地址",
          class: "sizefull s-text7 p-l-22 p-r-22" %>
        </div>

        <div class="bo4 of-hidden size15 m-b-20">
          <%= f.text_field :phone,
          placeholder: "聯絡電話",
          class: "sizefull s-text7 p-l-22 p-r-22" %>
        </div>

        <div class="of-hidden size15 m-b-20">
          <!-- Button -->
          <%= f.submit "確認", class: "flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" %>
        </div>

        <div class="of-hidden size15 m-b-20">
          <%= link_to("上一頁", new_user_session_path, class: 'flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4') %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" charset="utf-8">
  $(function(){
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
		});


    $("#user_city_id").change(function(){
      var cityId = $(this).val();
      var areaSelect = $("#user_area_id");

      $.ajax({
        url: "/cities/" + cityId + "/areas"
      }).done(function(result) {
        console.log(result)
        areaSelect.html('');
         $.each(result.data, function (index, area) {
              areaSelect.append('<option value="' + area.id + '">' + area.name + '</option>');
           });
      });
    })
  })
</script>
