	<!-- Slide1 -->
	<section class="slide1" style="margin:0px 10px 0px 10px">
		<div class="wrap-slick1">
			<div class="slick1">
			  <% @indexes.each do |index| %>
				<div class="item-slick1 item1-slick1" style="background-image: url(<%= index.image.url %>);">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
						</div>
					</div>
				</div>
			  <% end %>

				<%#<div class="item-slick1 item2-slick1" style="background-image: url();">%>
					<%#<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">%>
						<%#<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">%>
							<%#Women Collection 2018%>
						<%#</span>%>

						<%#<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">%>
							<%#New arrivals%>
						<%#</h2>%>

						<%#<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">%>
							<%#[> Button <]%>
							<%#<a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">%>
								<%#Shop Now%>
							<%#</a>%>
						<%#</div>%>
					<%#</div>%>
				<%#</div>%>

			</div>
		</div>
	</section>

	<!-- Banner -->
	<section class="banner bgwhite p-t-40 p-b-40">
		<div class="container">
			<div class="row">
		</div>
	</section>

	<!-- New Product -->
	<section class="newproduct bgwhite p-t-45 p-b-105">
		<div class="container">
			<div class="sec-title p-b-60">
				<h3 class="m-text5 t-center">
          2018年 嘉東李媽媽青果社 帝王柑  開始預購囉!
				</h3>
				<br />

「帝王柑」的前身是「山東貢橘」，是以前帝王家御用美食。
				<br />

帝王柑從大陸引進台灣栽種已數年之久。本青果社為了讓果實風味更符國人期許，參加產銷班進行農產改良，並在空氣、水源具足的豐沃土地上種植，得天獨厚的生長環境，栽種出果皮薄、汁多、口感細緻的「帝王柑」。
				<br />

帝王柑果實玲瓏可愛，貌似柳丁的橘子，平均體積比茂谷柑還小一號，皮薄好剝，果肉比柳丁細嫩，剝開聞著有有淡淡柑橘、檸檬的果香味，所有的香氣都縮在這一顆小果實中。歡迎來嚐鮮！！
				<br />

我們按訂單先後出貨，可以先下單排程，出貨前我們會通知。
按登記先後順序安排出貨～
				<br />

手提分享裝（運費另計）
原價750元，優惠價600元/箱。
				<br />


手提分享裝（運費另計）
原價750元，優惠價600元/箱。
運費計算
1-2箱→100元
3-4箱→200元
以此類推
				<br />

歡迎個人、公司、團體訂購，提早來電詢問洽詢。
				<br />
消費者如有特殊需求品項，也提供客製化服務唷。
				<br />

訂購專線/0933-174335、0921-103401
				<br />

以下聯結有我們的更多相關資訊唷~


			</div>
		</div>
	</section>

		<%#<div class="container">%>
			<%#<div class="sec-title p-b-60">%>
				<%#<h3 class="m-text5 t-center">%>
          <%#2018年 嘉東李媽媽青果社 帝王柑  開始預購囉!%>
				<%#</h3>%>
			<%#</div>%>
		<%#</div>%>

	<!-- Banner2 -->
	<section class="banner2 bg5 p-t-55 p-b-55">
    <h3 class="m-text5 t-center">
      帝王柑
    </h3>
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
					<div class="hov-img-zoom pos-relative">
            <%= image_tag 'banner-08.jpg', alt: "IMG-BANNER" %>
            <div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
              <%= link_to(product_path(1), class: "l-text1 fs-35-sm") do %>
              立即購買
              <% end %>

              <a href="#" class="s-text4 hov2 p-t-20 ">
                加入購物車
              </a>
            </div>
					</div>
				</div>

				<%#<div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">%>
					<%#<div class="bgwhite hov-img-zoom pos-relative p-b-20per-ssm">%>
						<%#<img src="images/shop-item-09.jpg" alt="IMG-BANNER">%>

						<%#<div class="ab-t-l sizefull flex-col-c-b p-l-15 p-r-15 p-b-20">%>
							<%#<div class="t-center">%>
								<%#<a href="product-detail.html" class="dis-block s-text3 p-b-5">%>
									<%#立刻預購%>
								<%#</a>%>

								<%#<span class="block2-oldprice m-text7 p-r-5">%>
									<%#$29.50%>
								<%#</span>%>

								<%#<span class="block2-newprice m-text8">%>
									<%#$15.90%>
								<%#</span>%>
							<%#</div>%>

							<%#<div class="flex-c-m p-t-44 p-t-30-xl">%>
								<%#<div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">%>
									<%#<span class="m-text10 p-b-1 days">%>
										<%#69%>
									<%#</span>%>

									<%#<span class="s-text5">%>
										<%#days%>
									<%#</span>%>
								<%#</div>%>

								<%#<div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">%>
									<%#<span class="m-text10 p-b-1 hours">%>
										<%#04%>
									<%#</span>%>

									<%#<span class="s-text5">%>
										<%#hrs%>
									<%#</span>%>
								<%#</div>%>

								<%#<div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">%>
									<%#<span class="m-text10 p-b-1 minutes">%>
										<%#32%>
									<%#</span>%>

									<%#<span class="s-text5">%>
										<%#mins%>
									<%#</span>%>
								<%#</div>%>

								<%#<div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">%>
									<%#<span class="m-text10 p-b-1 seconds">%>
										<%#05%>
									<%#</span>%>

									<%#<span class="s-text5">%>
										<%#secs%>
									<%#</span>%>
								<%#</div>%>
							<%#</div>%>
						<%#</div>%>
					<%#</div>%>
				<%#</div>%>
			</div>
		</div>
	</section>


	<!-- Blog -->
	<section class="blog bgwhite p-t-94 p-b-65">
		<div class="container">
			<div class="sec-title p-b-52">
				<h3 class="m-text5 t-center">
					Our Blog
				</h3>
			</div>

			<div class="row">
				<div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
					<!-- Block3 -->
					<div class="block3">
						<a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
              <%= image_tag 'blog-01.jpg', alt: "IMG-BLOG" %>
						</a>

						<div class="block3-txt p-t-14">
							<h4 class="p-b-7">
								<a href="blog-detail.html" class="m-text11">
                  2018文旦已售罄囉~
                  因為太晚訂購而沒購買到的
                  明年記得提早預購唷
								</a>
							</h4>
							<span class="s-text6">於</span> <span class="s-text7">2018-05-05</span>

              <p class="s-text8 p-t-16">
                2018文旦已售罄囉~
                因為太晚訂購而沒購買到的
                明年記得提早預購唷😁

                感謝大家對我們的肯定與支持
                我們會繼續努力
                堅持理念 莫忘初衷
                讓大家食的安心 放心~

                再來得開始忙著幫文旦果樹做月子囉～ 為了讓大家每年品嚐到如此美味的水果 這些動作是不能少的唷～

                預告下一檔產品【#帝王柑】
                將於11、12月上市

                訂購專線/
                0933-174-335
                0921-103-401
              </p>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
					<!-- Block3 -->
					<div class="block3">
						<a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
              <%= image_tag 'blog-02.jpg', alt: "IMG-BLOG" %>
						</a>

						<div class="block3-txt p-t-14">
							<h4 class="p-b-7">
								<a href="blog-detail.html" class="m-text11">
                  客製化 銀耳蓮子湯（碗裝）
                  下午準備外送囉~
                  公司開會最佳點心飲品
								</a>
							</h4>

							<span class="s-text6">於</span> <span class="s-text7">2018-04-20</span>

							<p class="s-text8 p-t-16">
                客製化 銀耳蓮子湯（碗裝）
                下午準備外送囉~
                公司開會最佳點心飲品

                訂購專線/0933-174335
                斗六市區滿300元以上，可外送唷~
                外縣市也有低溫宅配唷~(運費另計)

                現場取貨地點：
                斗六市中山路299巷1號（#阿興素食）AM11:00-PM1:00、PM4:30-PM7:00
                斗六市鎮北路64-3號（#皇家橘子) AM8:00~AM11:00
                斗六市民生南路238號（#阿芳服飾店) PM1:00~PM8:00
                虎尾鎮中正路398號<虎科大天橋下>（#虎尾深海土魠魚焿）
                PM2:00~PM4:00

                #嘉東李媽媽青果社 #銀耳蓮子
                #百香果銀耳 #鳳梨銀耳 #黑木耳汁
                #客製化 #公司開會
							</p>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
					<!-- Block3 -->
					<div class="block3">
						<a href="blog-detail.html" class="block3-img dis-block hov-img-zoom">
              <%= image_tag 'blog-03.jpg', alt: "IMG-BLOG" %>
						</a>

						<div class="block3-txt p-t-14">
							<h4 class="p-b-7">
								<a href="blog-detail.html" class="m-text11">
                  第二批紅肉火龍果開始採收，陸續出貨囉，還沒購買的加快腳步唷^^
								</a>
							</h4>

							<span class="s-text6">By</span> <span class="s-text7">Nancy Ward</span>
							<span class="s-text6">on</span> <span class="s-text7">July 2, 2017</span>

							<p class="s-text8 p-t-16">
                第二批紅肉火龍果開始採收，陸續出貨囉，還沒購買的加快腳步唷^^

                線上訂購網址/
                https://goo.gl/forms/xrtTu4MaV5WFYGBD2

                A.特選家庭團購
                每箱10斤重(約9~11顆)
                含運優惠價1200元

                B.小紅團購分享
                每箱20斤重(約34~38顆)
                含運優惠價1000元
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Shipping -->
	<!-- <section class="shipping bgwhite p-t-62 p-b-46">
		<div class="flex-w p-l-15 p-r-15">
			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					Free Delivery Worldwide
				</h4>

				<a href="#" class="s-text11 t-center">
					Click here for more info
				</a>
			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
				<h4 class="m-text12 t-center">
					30 Days Return
				</h4>

				<span class="s-text11 t-center">
					Simply return it within 30 days for an exchange.
				</span>
			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					Store Opening
				</h4>

				<span class="s-text11 t-center">
					Shop open from Monday to Sunday
				</span>
			</div>
		</div>
	</section>
	-->


	<!-- Footer -->
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">

		<div class="t-center p-l-15 p-r-15">
			<div class="t-center s-text8 p-t-20">
				Copyright © 2018嘉東李媽媽青果社 All rights reserved.  | 本樣板由 <a href="https://colorlib.com" target="_blank">Colorlib</a> 所開發
			</div>
		</div>
	</footer>



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>


	<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
	</script>
