<li class="item-menu-mobile">
<%= link_to("首頁", root_path) %>
</li>
<li class="item-menu-mobile">
<%= link_to("帝王柑", product_path(1)) %>
</li>
<li class="item-menu-mobile">
<%= link_to("關於李媽媽青果社", about_index_path) %>
</li>
<li class="item-menu-mobile">
<%= link_to("訂購流程", note_index_path) %>
</li>
<li class="item-menu-mobile">
<%= link_to("部落格", articles_path) %>
</li>
<li class="item-menu-mobile">
<%= link_to("聯絡我們", new_contract_path) %>
</li>
