<section class="cart bgwhite p-t-30 p-b-100">
  <div class="container">
    <div class="wrap-table-shopping-cart bgwhite">
    <div class="p-l-20 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm">
      <h5 class="m-text20 p-b-24">
        訂單資料
      </h5>

			<div class="container-table-cart pos-relative">
				<div class="wrap-table-shopping-cart bgwhite">
					<table class="table-shopping-cart">
						<tr class="table-head">
							<th class="column-1"></th>
							<th class="column-2">商品名稱</th>
							<th class="column-3">價格</th>
							<th class="column-4">數量</th>
							<th class="column-5">小記</th>
						</tr>

            <% @cart.items.each do |item| %>
              <tr class="table-row">
                <td class="column-1">
                  <div class="cart-img-product b-rad-4 o-f-hidden">
                    <img src="<%= item.product.image.url %>" alt="IMG-PRODUCT">
                  </div>
                </td>
                <td class="column-2"><%= item.product.full_title %></td>
                <td class="column-3"><%= item.product.price %></td>
                <td class="column-4">
                  <%= item.quantity %>
                </td>
                <td class="column-5"><%= item.price %></td>
              </tr>
            <% end %>
					</table>
				</div>
      </div>

			<div class="bo9 w-size18 p-l-20 p-r-20 p-t-15 p-b-19 m-t-15 m-r-0 m-l-auto p-lr-15-sm">
				<!--  -->
				<div class="flex-w flex-sb-m p-t-26 p-b-30">
					<span class="m-text22 w-size19 w-full-sm">
						總計:
					</span>

					<span class="m-text21 w-size20 w-full-sm">
            <%= @cart.total_price  %>
					</span>
				</div>

			</div>

    </div>
    </div>

    <div class="wrap-table-shopping-cart bgwhite">
    <div class="bo9 p-l-120 p-r-120 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm">
      <h5 class="m-text20 p-b-24">
        會員資料
      </h5>

      <hr />

      <div class="flex-w flex-sb">
        <span class="s-text18 w-size19 w-full-sm">
          姓名:
        </span>
        <div class="w-size20 w-full-sm">
          <div class="size13 m-t-8 m-b-12">
            <span class="sizefull s-text7 p-l-15 p-r-15"><%= @user.name %></span>
          </div>
        </div>
      </div>
      <!--  -->

      <div class="flex-w flex-sb">
        <span class="s-text18 w-size19 w-full-sm">
          地址:
        </span>
        <div class="w-size20 w-full-sm">
          <div class="size13 m-t-8 m-b-12">
            <span class="sizefull s-text7 p-l-15 p-r-15"><%= @user.full_address %></span>
          </div>
        </div>
      </div>

      <div class="flex-w flex-sb">
        <span class="s-text18 w-size19 w-full-sm">
          電話:
        </span>
        <div class="w-size20 w-full-sm">
          <div class="size13 m-t-8 m-b-12">
            <span class="sizefull s-text7 p-l-15 p-r-15"><%= @user.phone %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="bo9 p-l-120 p-r-120 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm">

      <div class="flex-w flex-sb">
        <span class="s-text18 w-size19 w-full-sm">
      <h5 class="m-text20 p-b-12">
        收件人資料
      </h5>
        </span>
        <div class="s-text18 w-size20 w-full-sm">
              <div class="checkbox">
                <label>
                  <input id="sync-member" type="checkbox" value="">
                  同會員資料
                </label>
              </div>
        </div>
      </div>
      <hr />

      <%= simple_form_for(@order) do |f| %>
      <input id="user-name" type="hidden" value="<%= @user.name %>">
      <input id="user-city-id" type="hidden" value="<%= @user.city_id %>">
      <input id="user-area-id" type="hidden" value="<%= @user.area_id %>">
      <input id="user-address" type="hidden" value="<%= @user.address %>">
      <input id="user-phone" type="hidden" value="<%= @user.phone %>">
      <div class="flex-w flex-sb">
        <span class="s-text18 w-size19 w-full-sm">
          姓名:
        </span>
        <div class="w-size20 w-full-sm">
          <div class="size13 bo4 m-t-8 m-b-12">
            <%= f.input_field :name,label: false,  class: 'sizefull s-text7 p-l-15 p-r-15', placeholder: '姓名' %>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="flex-w flex-sb">
        <span class="s-text18 w-size19 w-full-sm">
          地址:
        </span>
        <div class="w-size20 w-full-sm">
          <div class="rs2-select2 rs3-select2 rs4-select2 bo4 of-hidden w-size21 m-t-8 m-b-12">
            <%= f.select(:city_id, City.all.map { |city| [city.name, city.id] }, {}, {class: "selection-2 select2-hidden-accessible"}) %>
          </div>
          <div class="rs2-select2 rs3-select2 rs4-select2 bo4 of-hidden w-size21 m-t-8 m-b-12">
            <%= f.select(:area_id, @area_options.map { |area| [area.name, area.id] }, {}, {class: "selection-2 select2-hidden-accessible"}) %>
          </div>
          <div class="size13 bo4 m-t-8 m-b-12">
            <%= f.input_field :address, class: 'sizefull s-text7 p-l-15 p-r-15', placeholder: '街道、門牌號碼' %>
          </div>
        </div>
      </div>

      <div class="flex-w flex-sb">
        <span class="s-text18 w-size19 w-full-sm">
          電話:
        </span>
        <div class="w-size20 w-full-sm">
          <div class="size13 bo4 m-b-12">
            <%= f.input_field :phone, class: 'sizefull s-text7 p-l-15 p-r-15', placeholder: '聯絡電話' %>
          </div>
        </div>
      </div>
      <div class="flex-w flex-sb">
        <span class="s-text18 w-size19 w-full-sm">
          付款方式:
        </span>
        <div class="w-size20 w-full-sm">
          <div class="rs2-select2 rs3-select2 rs4-select2 bo4 of-hidden w-size21 m-t-8 m-b-12">
            <%= f.select :delivery_way, @delivery_way_options,{}, class: 'selection-2 select2-hidden-accessible' %>
          </div>
        </div>
      </div>
      <div class="flex-w flex-sb">
        <span class="s-text18 w-size19 w-full-sm">
          備註:
        </span>
        <div class="w-size20 w-full-sm">
          <div class="size13 m-b-12">
            <%= f.input_field :note, class: 'dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20', placeholder: '請輸入想要留言給賣家的話' %>
          </div>
        </div>
      </div>
      <div class="flex-w flex-sb">
        <span class="s-text18 w-size19 w-full-sm">
        </span>
        <div class="w-size20 w-full-sm">
          <div class="size13 m-b-12">
          </div>
        </div>
      </div>

      <div class="flex-w flex-sb">
        <span class="s-text18 w-size19 w-full-sm">
        </span>
        <div class="w-size20 w-full-sm m-t-20 m-b-20">
          <div class="size13 m-b-12">
            <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
								送出訂單
            </button>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    </div>
  </div>
</section>
<script type="text/javascript" charset="utf-8">
  $(function(){
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
		});
    $("#order_city_id").change(function(){
      var cityId = $(this).val();
      var areaSelect = $("#order_area_id");

      $.ajax({
        url: "/cities/" + cityId + "/areas"
      }).done(function(result) {
        console.log(result)
        areaSelect.html('');
         $.each(result.data, function (index, area) {
              areaSelect.append('<option value="' + area.id + '">' + area.name + '</option>');
           });
      });
    });

    $("#sync-member").change(function(){
      if ($(this).is( ":checked" )) {
        var name = $("#user-name").val();
        $("#order_name").val(name);
        var cityId = $("#user-city-id").val();
        $("#order_city_id").val(cityId).trigger('change');
        var areaId = $("#user-area-id").val();
        $("#order_area_id").val(areaId).trigger('change');
        var address = $("#user-address").val();
        $("#order_address").val(address);
        var phone = $("#user-phone").val();
        $("#order_phone").val(phone);
      }
    })

  })
</script>
