<!DOCTYPE html>
<html lang="en">
  <head>
    <title>李媽媽果社</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				<div class="topbar-social">
					<a href="https://www.facebook.com/leefruit640/" target="_blank" class="topbar-social-item fa fa-facebook"></a>
				</div>
				<div class="topbar-child2">
				  <% if  user_signed_in? %>
          <%= link_to("Hi #{current_user.name}", edit_user_registration_path, class: 'topbar-email') %>
					<div class="topbar-language rs1-select2">
					<span class="topbar-email m-1">
					  <%= link_to('登出', destroy_user_session_path, class: 'topbar-email', method: 'delete') %>
					</span>
					</div>

				  <% else %>
						  <%= link_to("登入", new_user_session_path, class: 'topbar-email') %>
				  <% end %>
				</div>
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="index.html" class="logo">
          <%= image_tag 'icons/logo.jpg', alt: "IMG-LOGO", height: "60", width:"60" %>
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li class="sale-noti">
							  <%= link_to("首頁", root_path) %>
							</li>
							<li>
							  <%= link_to("帝王柑", product_path(1)) %>
							</li>
							<li>
							  <%= link_to("關於李媽媽青果社", 'javascript:void(0)') %>
							</li>
							<li>
							  <%= link_to("訂購流程", 'javascript:void(0)') %>
							</li>
							<li>
							  <%= link_to("部落格", 'javascript:void(0)') %>
							</li>
							<li>
							  <%= link_to("聯絡我們", 'javascript:void(0)') %>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">
					<a href="#" class="header-wrapicon1 dis-block">
            <%= image_tag 'icons/icon-header-01.png', class: "header-icon1", alt: "ICON" %>
					</a>

					<span class="linedivide1"></span>

					<div class="header-wrapicon2">
            <%= image_tag 'icons/icon-header-02.png', class: "header-icon1 js-show-header-dropdown", alt: "ICON" %>
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
                    <%= image_tag 'item-cart-01.jpg', alt: "IMG" %>
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
                    <%= image_tag 'item-cart-02.jpg', alt: "IMG" %>
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
                    <%= image_tag 'item-cart-03.jpg', alt: "IMG" %>
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="index.html" class="logo-mobile">
        <%= image_tag 'icons/logo.png', alt: "IMG-LOGO" %>
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<a href="#" class="header-wrapicon1 dis-block">
        <%= image_tag 'icons/icon-header-01.png', class: 'header-icon1', alt: "IMG-LOGO" %>
					</a>

					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
            <%= image_tag 'icons/icon-header-01.png', class: 'header-icon1 js-show-header-dropdown', alt: "ICON" %>
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
                    <%= image_tag 'item-cart-01.jpg', alt: "IMG" %>
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
                    <%= image_tag 'item-cart-02.jpg', alt: "IMG" %>
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
                    <%= image_tag 'item-cart-03.jpg', alt: "IMG" %>
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
						  <%= link_to("登入", "javascript:viod(0)") %>
							<%#<span class="topbar-email">%>
								<%#fashe@example.com%>
							<%#</span>%>

						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
              <a href="https://www.facebook.com/leefruit640/" target="_blank" class="topbar-social-item fa fa-facebook"></a>
						</div>
					</li>


					<li class="item-menu-mobile">
						<a href="product.html">首頁</a>
					</li>

					<li class="item-menu-mobile">
						<a href="product.html">帝王柑</a>
					</li>

					<li class="item-menu-mobile">
						<a href="product.html">關於李媽媽青果社</a>
					</li>

					<li class="item-menu-mobile">
						<a href="cart.html">訂購流程</a>
					</li>

					<li class="item-menu-mobile">
						<a href="blog.html">部落格</a>
					</li>

					<li class="item-menu-mobile">
						<a href="about.html">聯絡我們</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= devise_error_messages! if devise_controller? %>
    <%= render 'shared/flash' %>
  </body>
</html>
