<!DOCTYPE html>
<html>
  <head>
    <title>李媽媽青果社</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <%= render partial: 'shared/toastr' %>

  <body class=" login">
    <div class="logo">
      <a href="index.html">
        <%#<%= image_tag('logo-big.png', alt: "") %>
      </a>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
